/*
/*/
!.gitignore

!/boxes
/boxes/*
/boxes/*/

!/boxes/laravel-VAGRANTSLASH-homestead
/boxes/laravel-VAGRANTSLASH-homestead/*
/boxes/laravel-VAGRANTSLASH-homestead/*/
!/boxes/laravel-VAGRANTSLASH-homestead/metadata_url
